# Created by venv; see https://docs.python.org/3/library/venv.html
# بيئة التطوير
venv/
__pycache__/
*.pyc

# ملفات النظام أو الإعدادات
*.log
.env
db.sqlite3
*.sqlite3
*.swp

# أدوات وأشياء غير ضرورية للرفع
.idea/
.vscode/
*.bak
*.tmp
